<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Quiz</title>
</head>
<body>
    <div class="main-container">
        <div class="question-container">
        </div>
    </div>
    <script>
        const url = "/questions";
        const mainBlock = document.querySelector(".main-container")
        const questions = document.querySelector(".question-container")
        const answers = document.querySelector(".answer-container")


        async function makeRequest() {
            // Clear previous content
            mainBlock.innerHTML = "";
        
            const response = await fetch(url);
            const data = await response.json();
            const questions = JSON.parse(data.Questions);
        
            for (let question of questions) {
                const optionsContainer = document.createElement('div');
                const para = document.createElement('p');
                para.innerText = question["question"];
        
                for (let option of question["options"]) {
                    const optionPara = document.createElement('p');
                    optionPara.innerText = option;
                    optionsContainer.appendChild(optionPara);
                }
        
                mainBlock.appendChild(para);
                mainBlock.appendChild(optionsContainer);
            }
        }
        
        makeRequest();

    </script>
    
</body>
</html>
