<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Quiz</title>
</head>
<body>
    <div class="main-container">
        <div class="question-container">
            <div class="answer-conatainer">
            </div>
        </div>
    </div>
    <script>
        const url = "/questions";
        const mainBlock = document.querySelector(".main-container")
        const Ques = document.querySelector(".question-container")
        const answers = document.querySelector(".answer-container")


        async function makeRequest() {        
            const response = await fetch(url);
            const data = await response.json();
            const questions = JSON.parse(data.Questions);
        
            for (let question of questions) {
                const questionPara = document.createElement('p');
                questionPara.innerText = question["question"];
                mainBlock.appendChild(questionPara);
            
                const optionsContainer = document.createElement('div'); // Create a container for options
            
                for (let option of question["options"]) {
                    const optionPara = document.createElement('p');
                    optionPara.innerText = option;
                    optionsContainer.appendChild(optionPara);
                }
            
                mainBlock.appendChild(optionsContainer); // Add the options container to the main block
            }
        
        }

        makeRequest();

    </script>
    
</body>
</html>
